.header-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: var(--spacing-24) 0;
  margin-bottom: var(--spacing-32);
}

.header-logo {
  margin-right: var(--spacing-80);
}
