.account {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.account-title {
  margin: 0;
  margin-bottom: var(--spacing-64);
}

.account-menu {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing-64);
  margin-bottom: var(--spacing-64);
}

.account-item__svg {
  margin-right: 10px;
}
