.favorites-movies {
  padding-bottom: 100px;
}

.favorites-movies__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--color-white);
}

.favorites-movies__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  /* grid-template-columns: repeat(5, 224px); */
  column-gap: var(--spacing-40);
  row-gap: var(--spacing-64);
}

@media (max-width: 768px) {
  .favorites-movies {
    padding-bottom: 0px;
    margin-bottom: var(--spacing-60);
  }

  .favorites-movies__swiper-container {
    position: relative;
    width: 100%;
    overflow: visible;
  }

  .favorites-movies .swiper,
  .favorites-movies .swiper-wrapper,
  .favorites-movies .swiper-slide {
    overflow: visible;
  }

  html,
  body {
    overflow-x: hidden;
  }
}
