.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding: var(--spacing-12) var(--spacing-16);
  border: 1px solid var(--color-modal-form);
}

/* .input-wrapper.error {
  border-color: var(--color-error);
}
.input-wrapper.error svg {
  color: var(--color-error);
} */

.input {
  outline: none;
  border: none;
}

.input-wrapper:not(:last-child) {
  margin-bottom: 12px;
}

.input::placeholder {
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: 1.33333;
}
