.search-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.search-content__img {
  width: 40px;
  height: 52px;
}

.search-content__right {
  display: flex;
  flex-direction: column;
}

.search-content__right-info {
  display: flex;
  gap: var(--spacing-12);
  margin-bottom: var(--spacing-8);
}

.search-content__right-rating {
  width: 47px;
  height: 20px;
  padding: 2px 8px;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-bold);
}

.search-content__rating svg {
  width: 10px;
  height: 10px;
  color: var(--color-white);
  margin-right: 0;
}

.search-content__right-year,
.search-content__right-genre,
.search-content__right-runtime {
  font-size: var(--font-size-14);
  color: var(--color-search-item);
}

.search-content__right-text {
  margin: 0;
  font-weight: 700;
  font-size: var(--font-size-18);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .search-content__img {
    width: 80px;
    height: 115px;
  }
}

@media (max-width: 576px) {
  .search-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-content__img {
    width: 157px;
    height: 206px;
  }
  .search-content__right-info {
    flex-wrap: wrap;
  }
}
