.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #0a1a3a 0%, #2a2a4a 50%, #5d4b8c 100%);
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid lightgrey;
  border-right-color: blue;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
